In [1]:
1+1

2

In [2]:
110+100

210

In [5]:
5/2

2.5

5//2

In [6]:
5//2

2

In [ ]:
あいうえお

In [1]:
import random
data = ['goo','choki','pa']
data_choice = random.choice(data)
print(data_choice)    問７グーが出た

goo

In [2]:
問８　じゃんけんをするプログラム

SyntaxError: invalid character in identifier (<ipython-input-2-0f1ef6df5263>, line 1)

In [5]:
1 > 0.4

SyntaxError: invalid character in identifier (<ipython-input-5-ec649e13451e>, line 1)

In [1]:
address = 'Tokyo,Japan'
address.split(',')

['Tokyo', 'Japan']

In [2]:
address.index('T')

0

In [3]:
address.index('T')

8

In [4]:
(0.1).as_integer_ratio()

(3602879701896397, 36028797018963968)

In [7]:
avg_tohoku = 0.0
for val in list_tohoku:
avg_tohoku += val

IndentationError: expected an indented block (<ipython-input-7-f26398b5685c>, line 3)

In [8]:
import math
math.pi 
math.pi.hex()

'0x1.921fb54442d18p+1'

In [9]:
from datetime import *
date_a = date(2008, 1, 1)
date_b = date(2008, 1, 5)
result = date_b - date_a
print(result)

4 days, 0:00:00

In [10]:
date_a.year

2008

In [11]:
date_a.month

1

In [12]:
date_a.day

1

In [17]:
from datetime import *
today = datetime(1969, 7, 21, 5, 17, 40)
birthday = date(1970,7,21,5,17,40）
life = today - birthday
print(life.days)

SyntaxError: invalid character in identifier (<ipython-input-17-e653f88c714b>, line 3)

In [ ]:
from datetime import *
date_a = datetime(1969, 7, 21, 5, 17, 40)
date_b = date(2008, 1, 5)
result = date_b - date_a
print(result)

In [18]:
list_int = [0, 1, 2, 3]
print(list_int)

[0, 1, 2, 3]

In [19]:
list_mix = [2, 1.732, 'test']
print(list_mix)

[2, 1.732, 'test']